* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

header .container {
  width: 1024px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

nav {
  float: right;
}

.nav-list {
  line-height: 70px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.nav-list-item {
  display: inline;
  margin: 0 30px;
}

header a {
  color: #fafafa;
  text-decoration: none;
}

#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

#main-visual > .container {
  text-align: center;
  color: #fafafa;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
}

.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
}
