* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

header .container {
  width: 1024px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

nav {
  float: right;
}

.nav-list {
  line-height: 70px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.nav-list-item {
  display: inline;
  margin: 0 30px;
}

header a {
  color: #fafafa;
  text-decoration: none;
}

#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

#main-visual > .container {
  text-align: center;
  color: #fafafa;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
}

.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
}

#portfolio {
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#portfolio .container {
  width: 920px;
}

.heading {
  text-align: center;
  font-size: 32px;
  padding-top: 90px;
  margin-bottom: 8px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #EC715F;
}

.heading-text {
  text-align: center;
  font-size: 16px;
  margin: 30px 0;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.box1 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.box2 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.box3 {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.box4 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.box5 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.box6 {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

#feature {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#feature .container {
  width: 980px;
  margin-bottom: 90px;
}

.strength {
  float: left;
  width: 320px;
  margin-right: 10px;
  /* margin-right: 10px; */
}

.strength:last-child {
  margin-right: 0;
}

.strength-top{
  text-align: center;
}

.strength-top i {
  font-size: 60px;
}

.strength-top h3 {
  margin: 10px 0;
  font-size: 20px;
}